/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main App Container */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;
  background: #1e293b;
  color: white;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #60a5fa;
}

/* ===== Page Content ===== */
.page-content {
  flex: 1;
}